<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>

  <%= f.submit %>
<% end %>

<div class="bottom_links">
  <%= link_to "Back to Cocktail", cocktail_path(@cocktail) %>
</div>
<div>
  <%= link_to "Back to Cocktail List", cocktails_path %>

</div>
